---
import TeamMember from '../components/TeamMember.astro';
import Layout from '../layouts/Layout.astro';
const pageTitle = "Code and Conquer";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="80%" height="auto" alt="RaccoonSpaceGif" src="/home.png"/>
    </div>
    <h1>Code and Conquer</h1>
    <quote> It's time to Code and Conquer!!!</quote>
    <h2>About</h2>
    <p>
        Here at Code and Conquer, we are a collection of non-coders and content creators learning to code. 
        We understand that learning to code is a daunting task, after all, it’s a whole new language.
        However, we hope to help relieve some of the worries and invite you to join us on this journey.
        We will document what we learn, how we learn, and share some resources along the way! 
        We also want to share how we create content based on this "development," as learning often means that 90% of the time, we don’t know the answer.
    </p>
    <p>
        In the team, we have a range of skills and experiences. 
        Some are at the beginning of their journey, while others have been developing for years. 
        Since we are all content creators with varied audiences, we have members with larger communities and others with much smaller ones. 
        We strongly believe there is a place for everyone, no matter how small your community is or how little experience you have.
    </p>
    <p>
        Check out the blog and resources section, where we will be posting our progress and what we learn along the way.
        We will also be posting tutorials and guides to help you. 
        These will cover a wide range of topics, from coding and game development to content creation and streaming.
        We'll also be sharing our projects and ideas, so you can see what we're working on and how we’re applying what we learn.
    </p>
    <p>
        <i>Would you like to write with us?
        We are always looking for new writers and coders to join our team. If you're interested, please get in touch with CodeWithTD, his details can be found below to help you connect with us.</i>
    </p>
    
    <h2>Our Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Godot" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/godot/godot-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Unity" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unity/unity-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="OBS" src="https://obsproject.com/assets/images/new_icon_small-r.png"/>
        <img class="skills__img" width="46" height="46" alt="Streamerbot" src="https://streamer.bot/logo-transparent.svg"/>
    </div>
    
    <h2>The Team</h2>
    <TeamMember 
    username="CodeWithTD" 
    subheading="Game and Streamer.bot Extension Developer, Lead Writer and Content Creator"
    doras='https://doras.to/td' 
    bio="Also known as TerrierDarts, I started coding in late November 2021, and since then, I’ve developed my skills in C#, along with some web development, dabbling in HTML, CSS, and JavaScript. More recently, I’ve been learning GDScript, which has been challenging but fun. I also stream on Twitch, where I show off my coding skills and offer advice on code and content creation in general. If this sounds like something you’d enjoy, feel free to stop by, hang out, and ask any questions you might have!" 
    />
    
    <!--h3>BitGamey</h3>
    <TeamMember
    username='Andilippi'
    subheading='Extension and OBS Plug-in Developer'
    bio='I am a developer who specializes in creating extensions and plugins for OBS. I have a passion for coding and enjoy working on projects that enhance the streaming experience. I am always looking to learn new skills and improve my craft. I also stream on Twitch, where I share my coding journey and help others learn about development. If you are interested in coding or streaming, feel free to join me on my journey!' 
    doras='https://doras.to/andi'
    />
   
    <h3>GoWMan</h3>
    <span class="badge">Web and Extension Developer</span>
    <p>Some Text</p>
    <h3>OSUPhoenix</h3>
    <span class="badge">Extension Developer</span>
    <p>Some Text</p-->
  
</Layout>

