<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="TerrierDarts/CodeAndConquer"
        data-repo-id="R_kgDONd_f4g"
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDONd_f4s4ClUC2"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_tritanopia"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>