---
const { type, href } = Astro.props;

const platforms = {
  Discord: {
    color: '#5865F2',
    icon: 'fa6-brands:discord',
  },
  'Twitter/X': {
    color: '#1DA1F2',
    icon: 'fa6-brands:square-x-twitter',
  },
  Reddit: {
    color: '#FF4500',
    icon: 'fa6-brands:reddit',
  },
  BlueSky: {
    color: '#0085FF',
    icon: 'fa6-brands:bluesky',
  },
  Twitch: {
    color: '#9146FF',
    icon: 'fa6-brands:twitch',
  },
  Youtube: {
    color: '#FF0000',
    icon: 'fa6-brands:youtube',
  },
};

const platform = platforms[type] ?? {
  color: '#999',
  icon: 'lucide:link',
};
---

<a href={`https://${href}`} target="_blank" rel="noopener noreferrer" style={`color: ${platform.color}`} class="inline-flex items-center gap-2 font-medium hover:underline transition-colors duration-200">
  <iconify-icon icon={platform.icon} width="20" height="20"></iconify-icon>
  <span>{type}</span>
</a>


<style>
    a {
    text-decoration: none;
    font-family: var(--body);
   
  }
    span {
        font-weight: bold;
    }
    a:hover {
        text-decoration: underline;
    }
    a:visited {
        color: inherit;
    }
</style>
