---
import BaseLayout from './Layout.astro';
import dayjs from 'dayjs';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="gif">
        <img class="pro-img" width="500px" height="281" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </div>
    <h2>{frontmatter.title}</h2>
    <ul class="badge__list">
        <li>
            <span class="badge badge--item">Last Updated:</span> {dayjs(frontmatter.date).format("DD-MMMM-YYYY")}
        </li>
    </ul>
 
    <slot />
</BaseLayout>

